# Python 3.10+  (Windows: w instalatorze Pythona zaznacz "tcl/tk" oraz "Add to PATH")
# Uwaga: tkinter jest czescia standardowej biblioteki Pythona (nie instaluje sie przez pip)
tkinterdnd2>=0.4
sounddevice>=0.4
pillow>=10.0
